alabaster==0.7.11
argh==0.26.2
Babel==2.6.0
docutils==0.14
flake8==3.5.0
funcsigs==1.0.2
imagesize==1.0.0
Jinja2==2.10
livereload==2.5.2
MarkupSafe==1.0
mccabe==0.6.1
mock==2.0.0
pathtools==0.1.2
pbr==4.1.0
pep8==1.7.1
port-for==0.4
py==1.5.4
pyflakes==2.0.0
Pygments==2.2.0
pytest==3.6.3
pytz==2018.5
PyYAML==3.13
six==1.11.0
snowballstemmer==1.2.1
Sphinx==1.7.5
sphinx-autobuild==0.7.1
tornado==5.0.2
tzlocal==1.5.1
watchdog==0.8.3
